# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Backup files
*~
*.swp
*.swo

# Build directories
build/
bin/
